.button{
  color: white;
  border-radius: 6px;
  font-size: 1rem;
}

.bigButton {
  padding: 16px 28px;
}

.mediumButton {
  padding: 10px 18px;
}

.primary{
  background-color: #2EB67D;
  border: none;
}

.outlined{
  background-color: transparent;
  border: 1px solid #CCD0E0;
}